html, body {
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.gtfr p {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.gtfr ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.gtfr {
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 20px;
}

.main-con {
    color: #FF4646;
    font-size: 75px;
    margin-bottom: 40px;
}

.side-con {
    color: rgb(0, 0, 85);
    font-size: 75px;
}

.side-con-min {
    font-size: 75px;
    margin-bottom: 50px;
}

.side-con-min-flus {
    font-size: 75px;
    margin-bottom: 15px;
}

.side-con-min::marker,
.side-con::marker,
.main-con::marker,
.main-con-flus::marker {
    display: none;
}

.main-con-gap {
    margin-bottom: 50px;
}

.side-con-gap {
    text-indent: 23px;
}

.color-rgb {
    color: #464646;
}

.color-rgb-min {
    color: #464646;
}

.color-rgb-flus {
    color: #464646;
}

.color-rgb-m-o {
    color: #800080;
}


.btn-page {
    border-radius: 20px;
    /*border: 10px solid #5da62b;*/
    border: 5px solid gray;
    height: 230px;
    width: 300px;
    font-size: 70px;
    padding: 0;
    /*background-color: rgb(0, 220, 0);*/
    background-color: #464646;
    margin-bottom: 70px;
}

.btn-page a {
    color: white;
    text-decoration: none;
}

.btn-page:hover {
    /*background-color: #228B22;*/
    background-color: #464646;
    border-radius: 20px;
}

.btn-size .btn-page:first-child {
    margin-right: 100px;
}

.btn-size .btn-page:last-child {
    margin-left: 100px;
}

.btn-size {
    text-align: center;
}

.font-size {
    font-size: 120px;
}

.padding-tab {
    padding-bottom: 15px;
    /*color: #FF8200;*/
    color: #464646;
}

.color-rgb-m-j-o {
    color: #464646;
}

.btn-link {
    margin-top: 300px;
    width: 100%;
}

.btn-link ul li:nth-child(1) a:hover {
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn-link ul li:nth-child(2) a:hover {
    background-color: black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.btn-link ul li:nth-child(3) a:hover {
    background-color: black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.btn-link ul {
    display: flex;
    list-style: none;
    padding-right: 40px;
    margin-bottom: 0;
    margin-top: 50px;
}

.btn-link ul li {
    flex: 1;
}

.btn-link a {
    /*background-color: rgb(0, 220, 0);*/
    background-color: #464646;
    display: block;
    height: 210px;
    color: white;
    text-align: center;
    line-height: 210px;
    text-decoration: none;
    font-size: 105px;
}

.sidebar-p1-1 {
    color: white;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 10px;
}

.div-11 {
    width: 100%;
    text-align: center;
    font-size: 120px;
}

.div-11 a {
    text-decoration: none;
    color: white;
    font-size: 120px;
}

.div-11 a:hover {
    padding: 6px 10px;
    background-color: black;
    border-radius: 12px;
}

.header-div {
    /*background-color: rgb(0, 220, 0);*/
    background-color:#464646;
    /*border-top: 10px solid #5da62b;*/
    border-top: 5px solid gray;
    width: 100%;
    height: 150px;
    line-height: 150px;
    padding: 10px 14px 10px 50px;
    margin-top: 70px;
    color: white;
    align-items: center;
    column-gap: 10px;
    font-size: 105px;
    position: absolute;
    top: 0;
}

.header-div:hover {
    background-color: black;
}

.sidebar-p1,
.sidebar-p2 {
    font-size: 90px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 10px;
}

.sidebar {
    display: none;
    top: 0;
    /*background-color: rgb(0, 220, 0);*/
    background-color: #464646;
    color: white;
    width: 900px;
    height: auto;
    text-align: center;
    list-style: none;
    text-decoration: none;
    position: absolute;
    margin-top: 50px;
    padding-bottom: 100px;
}

.sidebar a:hover {
    padding: 8px 12px;
    background-color: black;
    border-radius: 8px;
}

.sidebar-flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.sidebar li {
    padding-top: 6px;
    padding-bottom: 6px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 55px;
}

.emphasized {
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
}